[project]
	description = GeoCouch, a spatial index for CouchDB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Volker Mische (vmx)
[access "refs/for/refs/*"]
	read = group user/Volker Mische (vmx)
	push = group user/Volker Mische (vmx)
	label-Code-Review = -2..+2 group user/Volker Mische (vmx)
	label-Verified = -1..+1 group user/Volker Mische (vmx)
	rebase = group user/Volker Mische (vmx)
	removeReviewer = group user/Volker Mische (vmx)
	submit = group user/Volker Mische (vmx)
[access "refs/heads/*"]
	read = group user/Volker Mische (vmx)
	create = group user/Volker Mische (vmx)
	push = +force group user/Volker Mische (vmx)
	pushMerge = group user/Volker Mische (vmx)
[access "refs/tags/*"]
	push = +force group user/Volker Mische (vmx)
	pushTag = group user/Volker Mische (vmx)
	pushSignedTag = group user/Volker Mische (vmx)
